/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success{
   background-color: #9ACD32;
   color: #FFFFFF;
}

.snackbar-error{
   background-color: #df4346;
   color: #FFFFFF;
}

.v-align-middle {
   vertical-align: middle !important;
   display: inline-flex;
   align-items: center;
}

