<div class="loginFormulario" fxLayout="row" fxLayoutAlign="center end">
  <div class="divFormulario">
     <h1>Seja bem vindo sua Galeria de Imagens</h1>
     <h1>Faça o seu login</h1>

     <mat-divider></mat-divider>

     <div class="formulario">
      <form [formGroup]="formulario">
        <div>
          <mat-form-field>
             <mat-label>Email</mat-label>
             <input matInput type="email" placeholder="Digite seu email" formControlName="email" required autocomplete="off" />
             <mat-error *ngIf="formulario.controls.email.hasError('required')">
              O campo email é obrigatório
             </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
             <mat-label>Senha</mat-label>
             <input matInput type="password" placeholder="Digite sua senha" formControlName="senha"
             required autocomplete="off" />
             <mat-error *ngIf="formulario.controls.senha.hasError('required')">
              O campo senha é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <br/><br/><br/>

        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" class="botoes">
           <div>
              <button type="submit" mat-stroked-button color="primary" [disabled]="formulario.invalid" (click)="salvarFormulario()">
                 Logar
              </button>
           </div>
           <div>
            <button type="button" mat-stroked-button color="accent" routerLink="/usuario/cadastro">
               Não possuo conta
            </button>
         </div>
        </div>
      </form>
      <mat-progress-bar mode="query" *ngIf="bLoading"></mat-progress-bar>
     </div>

  </div>
</div>
