<div class="container">
   <mat-toolbar color="primary">
      <span>SignR Chat</span>
   </mat-toolbar>
   <div class="messages">
     <div *ngFor="let message of messages; let i=index">
       <div *ngIf="message.userName == userName" class="message-line me">
        <div class="message me">
          <div class="user-name me">{{message.userName}}</div>
          <div>{{message.text}}</div>
        </div>
       </div>
       <div *ngIf="message.userName !== userName" class="message-line other">
        <div class="message other">
          <div class="user-name other">{{message.userName}}</div>
          <div>{{message.text}}</div>
        </div>
       </div>
     </div>
   </div>
   <div class="footer">
     <form class="form">
      <mat-form-field class="input">
         <mat-label>Escreva sua mensagem</mat-label>
         <input matInput placeholder="Olá" [formControl]="messageControl">
      </mat-form-field>
      <button (click)="sendMessage()" (keyup)="sendMessage()" color="primary" mat-mini-fab aria-label="Enviar">
        <mat-icon>send</mat-icon>
      </button>
     </form>
   </div>
</div>
