<div *ngIf="!formulario">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="divCard" *ngIf="formulario">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Cadastro de ganhos</h3>
      </mat-card-title>
    </mat-card-header>

    <form [formGroup]="formulario">
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input type="text" formControlName="descricao" matInput
              placeholder="Digite a descrição" required minlength="1" maxlength="50" />
            <mat-error *ngIf="propriedade.descricao.touched && propriedade.descricao.invalid">
              <sup>*</sup> Digite a descrição do ganho
            </mat-error>

            <mat-error *ngIf="propriedade.descricao.errors?.minlength">
              <sup>*</sup> Use mais caracteres
            </mat-error>

            <mat-error *ngIf="propriedade.descricao.errors?.maxlength">
              <sup>*</sup> Use menos caracteres
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Selecione a categoria</mat-label>
            <mat-select formControlName="categoriaId" required>
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.categoriaId">
                   {{categoria.nome}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="propriedade.categoriaId.touched && propriedade.categoriaId.invalid">
              <sup>*</sup> Digite a descrição do ganho
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Valor</mat-label>
            <input type="text" formControlName="valor" matInput
              placeholder="Digite o valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
              required />
            <mat-error *ngIf="propriedade.valor.touched && propriedade.valor.invalid">
              <sup>*</sup> Digite o valor do ganho
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Dia</mat-label>
            <input type="text" formControlName="dia" matInput
              placeholder="Digite o valor" required />
            <mat-error *ngIf="propriedade.valor.touched && propriedade.valor.invalid">
              <sup>*</sup> Digite o dia do ganho
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Selecione a mês</mat-label>
            <mat-select formControlName="mesId" required>
                <mat-option *ngFor="let mes of meses" [value]="mes.mesId">
                   {{mes.nome}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="propriedade.mesId.touched && propriedade.mesId.invalid">
              <sup>*</sup> Digite a mês do ganho
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Ano</mat-label>
            <input type="text" formControlName="ano" matInput
              placeholder="Digite o ano do ganho" required />
            <mat-error *ngIf="propriedade.ano.touched && propriedade.ano.invalid">
              <sup>*</sup> Digite o ano do ganho
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions>
         <div>
           <button type="submit" mat-stroked-button color="primary" (click)="enviarFormulario()" [disabled]="formulario.invalid">
              Salvar
           </button>

           <button type="button" mat-stroked-button (click)="voltarListagem()">
              Voltar
           </button>
         </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
