<!-- campo de filtro -->
<div class="form-inline">
    <div class="form-group mx-sm-3 mb-2 col-md-2">

        <label class="mr-2 mt-2">Filtro: </label>
        <input type="text" class="form-control" placeholder="buscar" [(ngModel)]="filtroLista">

    </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->
<!-- tabela de vizualizaçao dos registros -->
<table class="table table-striped table-responsive-lg">
    <thead class="thead-dark bg-light">
        <tr>
            <th>
                <button class="btn btn-outline-primary" (click)="alternarImagem()">
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
        {{mostrarImagem ? 'exibir' : 'ocultar'}}
     </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados || evento of eventos">
            <td>
                <img [collapse]="!mostrarImagem" [isAnimated]="true" src="/assets/{{ evento.imagemURL }}" [style.width.px]="widthImg" [style.margin.px]="marginImg" alt="">
            </td>
            <td>{{ evento.eventoId }}</td>
            <td>{{ evento.tema }}</td>
            <td>{{ evento.local }}</td>
            <td>{{ evento.dataEvento | DateFormat }}</td>
            <td>{{ evento.qtdPessoas }}</td>
            <td>
                <div *ngIf="evento.lotes.length">
                    {{evento.lotes[0].nome | uppercase}}
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm m-lg-2" tooltip="editar">
                <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" tooltip="excluir" (click)="openModal(template)">
                <i class="fa fa-trash"></i>
                </button>

            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr *ngIf="eventos && !eventos.length">
            <td colspan="8" class="text-center">
                <h4>Nenhum evento encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>
<!-- {{eventos | json}} -->

<ng-template #template>
    <div class="modal-body text-center">
        <p>Tem certeza que quer deletar esse evento ?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
</ng-template>