<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
   <img src="/assets/imagens/{{pensamento.modelo}}.png" alt="Aspas Colorida">
   <p class="conteudo">{{pensamento.conteudo}}</p>
   <p class="autoria"><b>{{pensamento.autoria}}</b></p>
   <div class="acoes">
    <button class="botao-favorito" (click)="atualizarFavoritos()">
       <img src="/assets/imagens/icone-favorito-{{mudarIconeFavorito()}}.png" width="30" alt="ícone favorito {{ mudarIconeFavorito()}}">
    </button>
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}" alt="ícone de editar">
    </button>
    <button class="botao-excluir">
      <img src="/assets/imagens/icone-excluir.png" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}" alt="ícone de excluir">
    </button>
   </div>
</div>
