<div class="modal-overlay" (click)="onClose()">
  <div class="modal" (click)="$event.stopPropagation()"> <!-- Impede o clique dentro do modal de fechar -->
    <button class="close-button" (click)="onClose()">&times;</button>
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <h1>teste</h1>
    <h1>teste</h1>
    <div class="modal-footer">
      <button class="save-button" (click)="saveChanges()">Salvar</button>
      <button class="cancel-button" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>
