.divFormulario {
  width: 900px;
}

.divFoto{
   border-width: 1px;
   border-color: #bdc3c7;
   border-style: solid;
   height: 300px;
   width: 350px;
}

.registroFormulario {
   padding-top: 50px;
   padding-bottom: 50px;
}

.formulario{
   padding-top: 50px;
}

.botoes {
   padding-top: 30px;
}

.mat-form-field.mat-form-field{
  width: 500px;
}
